<a href="https://colab.research.google.com/github/Taz-haX/Learning_Python/blob/main/Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##101 BASICS

In [1]:
print("Pain is eternal")
print("Also kinda WEIRD")

Pain is eternal
Also kinda WEIRD

In [ ]:
#variables done

first_name = "Xab"
last_name = "Pajn"
full_name = first_name + " " + last_name
print(name)
#print(type(name))
print("Hello "+full_name)

Xab
Hello Xab Pajn

In [ ]:
age = 20
age += 1
print(age)

21

In [ ]:
age = 20
age = age + 1
print(age)
print(type(age))
print("Your age is: "+str(age))

21
<class 'int'>
Your age is: 21

In [ ]:
height = 250.5
print(height)
print(type(height))
print("Your height is: "+str(height)+"cm")

250.5
<class 'float'>
Your height is: 250.5cm

In [ ]:
human = True
print(human)
print(type(human))
print("Are you a human?: "+str(human))

True
<class 'bool'>
Are you a human?: True

## MULTIPLE ASSIGNMENTS

In [ ]:
#multiple assignments

name, age, attractive = "Xab", 20, False

print(name)
print(age)
print(attractive)

#Spongebob = 30
#Patrick = 30
#Sandy = 30
#Squidward = 30

Spongebob = Patrick = Sand1y = Squidward = 30

print(Spongebob)
print(Patrick)
print(Sandy)
print(Squidward)

Xab
20
False
30
30
30
30

## STRING METHODS AND TYPECASTING

In [2]:
#String methods

name = "D A M"

print(len(name))
print(name.find("D"))
print(name.capitalize())
print(name.lower())
print(name.isdigit())
print(name.isalpha())
print(name.count("M"))
print(name.replace("M", "M"))
print(name*3)

5
0
D a m
d a m
False
False
1
D A M
D A MD A MD A M

In [ ]:
#typecasting

x = 1   #int
y = 2.0  #float
z = "3" #str


print(x)
print(int(y))
print(y)
print(z)
print(z*3)

1
2
2.0
3
333

In [ ]:
x = 1   #int
y = 2.0  #float
z = "3" #str

y = int(y)
z = int(z)
x = float(x)

print(x)
print(y)
print(z*3)

print("X is "+str(x))

1.0
2
9
X is 1.0

## USER INPUT

In [ ]:
#user input

input("What is your name?: ")

What is your name?: Xab

'Xab'

In [ ]:
name = input("What is your name?: ")
age = int(input("What is your age?: "))
height = float(input("How tall are you?: "))


age += 1

print("Hello "+name)
print("You are "+str(age)+" years old")
print("You are "+str(height)+"cm tall")

What is your name?: Xab
What is your age?: 20
How tall are you?: 173.67
Hello Xab
You are 21 years old
You are 173.67cm tall

##MATHS FUNCTION

In [ ]:
#math functions

import math

pi = -3.14
x = 1
y = 2
z = 3

print(round(pi))
print(math.ceil(pi))
print(math.floor(pi))
print(abs(pi))
print(pow(pi,2))
print(math.sqrt(69))
print(max(x,y,z))
print(min(x,y,z))

-3
-3
-4
3.14
9.8596
8.306623862918075
3
1

##STRING SLICES

In [ ]:
#slicing strings

name = "Xab Taz"

#indexing[start:stop:step] or slice()

first_name = name[:3]
last_name = name[4:7]

weird_namawaea = name[::2]

reversed_name = name[::-1]

#first index inculsive, second exclusive

print(first_name)
print(last_name)
print(weird_namawaea)
print(reversed_name)

Xab
Taz
XbTz
zaT baX

In [ ]:
website = "http://google.com"

cdi = slice(7,-4)

print(website[cdi])

#fuckin why

google

##IF STATEMENTS

In [ ]:
#if statements

age = int(input("How old are you?: "))

if age == 100:
  print("Why ain't yo ass ded yet")
elif age >= 18:
  print("You are an adult, sadge")
elif age < 0:
  print("Dam time traveller much?")
else:
  print("You are a child, kringe")

How old are you?: 100
Why ain't yo ass ded yet

## LOGICAL OPERATORS

In [ ]:
#logical operators (and, or, not)

temp = int(input("What is the temparature outside?: "))

if not(temp>=0 and temp<= 30):
  print("The weather quite gud innit?")
  print("kys lol")
elif not(temp < 0 or temp > 30):
  print("Ayo the weather quite fooked innit?")
  print("Sucks to be you lmao")

What is the temparature outside?: 34
The weather quite gud innit?
kys lol

## WHILE AND FOR LOOPS

In [ ]:
#while loop UwU

while 1==1:
  print("Stuck in a loopy doopy")

In [ ]:
name = ""

while len(name)  == 0:
  name = input("Enter your name: ")

print("Hello "+name)

Enter your name:
Enter your name:
Enter your name:
Enter your name: Tutu
Hello Tutu

In [ ]:
name = input("Enter your name: ")

while name == "":
  name = input("I said enter yo bloody name biatch: ")

print("Hello "+name)

Enter your name:
I said enter yo bloody name biatch:
I said enter yo bloody name biatch: ko
Hello ko

In [ ]:
#for loop

for i in range(10):
  print(i+1)

for i in range(50,100+1,2):
  print(i)

1
2
3
4
5
6
7
8
9
10
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [ ]:
import time


#for i in "Xab Taz":
 # print(i)

for seconds in range(10,0,-1):
  print(seconds)
  time.sleep(1)
print("Happy New Year")

10
9
8
7
6
5
4
3
2
1
Happy New Year

In [ ]:
#nested loops

rows = int(input("How many rows?: "))
columns = int(input("How many columns?: "))
symbol = input("Enter a symbol to use: ")

for i in range(rows):
  for j in range(columns):
    print(symbol, end="")
  print()

How many rows?: 5
How many columns?: 6
Enter a symbol to use: &
&&&&&&
&&&&&&
&&&&&&
&&&&&&
&&&&&&

In [ ]:
#loop control statements

#break, continue, pass

while True:
  name = input("Enter your name: ")
  if name != "": #why tho
    break

phone_number = "123-456-7890"

for i in phone_number:
  if i == "-":
    continue
  print(i, end="")


for i in range(1,21):
  if i == 13:
    pass
  else:
    print(i)

Enter your name:
Enter your name:
Enter your name: oops
12345678901
2
3
4
5
6
7
8
9
10
11
12
14
15
16
17
18
19
20

#LISTS, TUPLES, SETS

In [ ]:
#list UwU

food = ["pizza","hamburg","pain","ded"]

food[2] = "sushu"

food.append("ice cream")
food.remove("hamburg")
food.pop()
food.insert(0, "cakeyu")
#food.clear()


print(food[2])

for x in food:
  print(x)

sushu
cakeyu
pizza
sushu
ded

In [ ]:
#2d lists, multi dimensional

drinks = ["coffee","soda","tea"]
dinner = ["pizza","hamburg","hotdog"]
dessert = ["cakeyu","ice cream"]

food = [drinks,dinner,dessert]

print(food[2][1])

ice cream

In [ ]:
#tuple whatever ( non edit-able)

student = ("Ayo","20","male")

print(student.count("Ayo"))

print(student.index("male"))

for x in student:
  print(x)

if "20" in student:
  print("Dam life be pajn innit?")

1
2
Ayo
20
male
Dam life be pajn innit?

In [ ]:
# set, unordered, unindexed, no duplicate

utensils = {"fork","spoon","knife"}
dishes = {"bowl","plate","cup","spoon"}

utensils.add("napkin")
utensils.remove("fork")
#utensils.clear()
utensils.update(dishes)
dinner_table = utensils.union(dishes)

print(utensils.difference(dishes))
print(utensils.intersection(dishes))

for x in utensils:
  print(x)

{'napkin', 'knife'}
{'cup', 'plate', 'bowl', 'spoon'}
spoon
napkin
bowl
plate
cup
knife

In [ ]:
columns = int(input("Enter number of columns: "))
rows = int(input("Enter number of rows: "))
symbol = input("Enter symbol: ")

for i in range(columns):
  for j in range(rows):
    print(symbol, end="")
  print()

Enter number of columns: 7
Enter number of rows: 13
Enter symbol: %
%%%%%%%%%%%%%
%%%%%%%%%%%%%
%%%%%%%%%%%%%
%%%%%%%%%%%%%
%%%%%%%%%%%%%
%%%%%%%%%%%%%
%%%%%%%%%%%%%

In [ ]:
Samp = "Hello World"
print(Samp)

Hello World

## LAB WORK

In [ ]:
A = int(input())
B = int(input())
C = int(input())
D = float(input())

x = (A**C+B*A-D/3)

print(int(x))

2
6
8
1.3
267

In [ ]:
z = int(input())





print(y)

60
0

In [ ]:
op = str(input())
po = str(input())

print(po+op)

Hello
World
WorldHello

In [ ]:
t = int(input())
uf = float(input())
toot = int(input())

print(str(t)+", "+str(uf)+", "+str(toot))

print(f"{t}, {uf}, {toot}")

uwu = float(t)+uf

print(str(uwu)+str(toot))

3
11.57
7
3, 11.57, 7
3, 11.57, 7
14.577

In [ ]:
dope = int(input())

if dope%2 == 0:
  print("True")
else:
  print("False")

-26
True

In [ ]:
import math


rimjob = int(input())

ari = math.pi*rimjob**2

cur = 2*math.pi*rimjob

print(f"Area is {ari}\nCircumference is {cur}")

4
Area is 50.26548245743669
Circumference is 25.132741228718345

In [ ]:
Borobai = int(input())
Sodobai = int(input())

if Borobai>Sodobai:
  print(Borobai-Sodobai)
else:
  print(Sodobai-Borobai)

-40
-4
36

In [ ]:
tudon = int(input())

if tudon%2 == 0 and tudon%5 == 0:
  print(tudon)
else:
  print("Not a multiple of 2 OR 5")

10
10

In [ ]:
tufudon = int(input())

if tufudon%2 == 0 and tufudon%5 == 0:
  print("It is a multiple of 2 and 5")
elif tufudon%2 == 0 or tufudon%5 == 0:
  print("It is a multiple of either 2 or 5 but not both")
else:
  print("Not a multiple we want")

17
Not a multiple we want

In [ ]:
seconds = int(input())

hours = seconds//3600

x = seconds-hours*3600

minutao = x//60

y = x-minutao*60

print(str(hours)+":"+str(minutao)+":"+str(y))

10000
2:46:40

In [ ]:
punch = int(input())

if 0>punch or punch>168:
  print("Impossible timing")
elif punch>40:
  x = punch-40
  y = x*300
  print(8000+y)
else:
  z = punch*200
  print(z)

30
6000

In [ ]:
S = int(input())

if S>=100:

  U = S**2/14900
  V = 4+U
  P = 12000/V

  L = P

  print(L)
else:

  K = 125*S**2
  L = 3000-K

  print(L)

3
1875

In [ ]:
toggi = int(input())

if toggi<0 or toggi>23:
  print("Wrong time")
elif toggi>=4 and toggi<=6:
  print("Breakfast")
elif toggi>=12 and toggi<=13:
  print("Lunch")
elif toggi>=16 and toggi<=17:
  print("Snacks")
elif toggi>=19 and toggi<=20:
  print("Dinner")
else:
  print("Patience is Virtue")

18
Patience is Virtue

In [ ]:
ma = int(input())

if ma<0 or ma>100:
  print("Invalid input")
elif ma>=90:
  print("A")
elif ma>=80 and ma<=89:
  print("B")
elif ma>=70 and ma<=79:
  print("C")
elif ma>=60 and ma<=69:
  print("D")
elif ma>=50 and ma<=59:
  print("E")
else:
  print("F")

33
F

In [ ]:
mys = int(input())
sxc = int(input())

ms = mys/sxc

kb = float(3.6)

kys = ms*kb

if kys>90:
  print("Too fast. Only a few changes should be suffice.")
elif kys>=60 and kys<=90:
  print("Velocity is okay. The car is ready.")
else:
  print("Too slow. Needs more changes.")

25400
3600
Too slow. Needs more changes.

In [ ]:
grd = float(input())
cred = int(input())

if cred<30 and grd<3.8:
  print("THe student is not eligible for a waiver.")
elif grd>=3.80 and grd<=3.89:
  print("The student is elligible for a waiver of 25 percent.")
elif grd>=3.90 and grd<=3.94:
  print("The student is elligible for a waiver of 50 percent.")
elif grd>=3.95 and grd>=3.99:
  print("The student is elligible for a waiver of 75 percent.")
else:
  print("The student is elligible for a waiver of 100 percent.")

3.79
24
THe student is not eligible for a waiver.

## DICTIONARIES

In [ ]:
#dictionary, changable, unordered unique key: value pairs access value quickly

capitals = {'USA':'Washington DC',
            'India':'New Delhi',
            'China':'Beijing',
            'Russia':'Moscow'}

capitals.update({'Germany':'Berlin'})
capitals.update({'USA':'Las Vegas'})
capitals.pop('China')

print(capitals['Russia'])

print(capitals.get('Germany'))

print(capitals.keys())

print(capitals.values())

print(capitals.items())


for key,value in capitals.items():
  print(key,value)

Moscow
Berlin
dict_keys(['USA', 'India', 'Russia', 'Germany'])
dict_values(['Las Vegas', 'New Delhi', 'Moscow', 'Berlin'])
dict_items([('USA', 'Las Vegas'), ('India', 'New Delhi'), ('Russia', 'Moscow'), ('Germany', 'Berlin')])
USA Las Vegas
India New Delhi
Russia Moscow
Germany Berlin

#INDEX OPERATOR AND FUCNTIONS

In [ ]:
#index operator in python, gives access to sequence's elements

name = 'bose Hose!'

if (name[0].islower()):
  name = name.capitalize()

first_name = name[0:4].upper()
last_name = name[5:].lower()
last_character = name[-1]

print(name)
print(first_name)
print(last_name)
print(last_character)

Bose hose!
BOSE
hose!
!

In [ ]:
#functions UwU, executed only when it is called, invoking a function

def cdi(name):
  print("hahas us "+name)
  print('kys lmao')

cdi("Bose")

def sus(first_name,last_name,age):
  print("Shaddap biss, "+first_name+" "+last_name)
  print("Matro "+str(age)+" bosor")

sus("Ahammok", "Idiat",23)

hahas us Bose
kys lmao
Shaddap biss, Ahammok Idiat
Matro 23 bosor

In [ ]:
#return statements UwU, cdi manh

def multiply(nou1,nou2):
  result = nou1*nou2
  return result
  #or return nou1 * nou2, no need for x

x = multiply(6,8)

print(x)

48

In [ ]:
#keyword arguments, preceeded by an identifier when we pass them through a fucntionn, order does not matter.

def hello(first,middle,last):
  print("Hello "+first+" "+middle+" "+last)

hello("Bose","Dose","Hose")

hello(last="dose",middle="bose",first="hose") #this the keyword

Hello Bose Dose Hose
Hello hose bose dose

In [ ]:
#nested funtion calls in python (function calls in fucntion calls)

num = input("Enter a whole positive number: ")
num = float(num)
num = abs(num)
num = round(num)
print(num)

print(round(abs(float(input("Enter a whole positive number :")))))  #nested examples

Enter a whole positive number: -3.890
4
Enter a whole positive number :-3.890
4

In [ ]:
# scope, the region that a variable is recognized

namawe = "Hasar cdi"

def display_name():
  namawe = "Code"
  print(namawe)

display_name()
print(namawe)



#local region first, then global, built in

Code
Hasar cdi

##KWARGS AND ARGS

In [ ]:
# *args i dunno, pack all arguments into a tuple.

#PAIN IN DA ASS, ITERABLE MANE KI UFFF

def add(num1,num2):
  sum = num1 + num2
  return sum

print(add(1,2))

def ass(*args):
  suum = 0
  args = list(args)
  args[0] = 0
  for i in args:
    suum += i
  return suum

print(ass(1,5,6,8,9,10))

3
38

In [ ]:
# **kwargs PAIN AAAAAA, packs all in a dictiona, acepts varying amount of keywordy

#def hello(first,last):
 # print("Cdi tomae "+first+" "+last)

#hello(first="Al",last="Ahammok")

def hanso(**kwargs):
  print("Fare tar " + kwargs['first'] +" "+ kwargs['last'])

hanso(first="Ahammok",middle="Sodo",last="Al")

def sos(**kwargs):
  print("Hello", end=" ")
  for key,value in kwargs.items():
    print(value, end=" ")

sos(first='Doick',third='kota',last='loitar')

Fare tar Ahammok Al
Hello Doick kota loitar

## STRING FORMATTING

In [ ]:
#str.format()  optional method that gives users more control when displaying output

animal = "cow"
item = "moon"

print("The "+animal+" jumped over the "+item)

print("The {} jumped over the {}".format(animal,item)) #format 01
print("The {1} jumped over the {0}".format(animal,item)) #positional
print("The {item} jumped over the {item}".format(animal="cow",item="moon")) #keyword

text = "The {} jumped over the {}"
print(text.format(animal, item))
print(text)

#add some padding

name = "Pajn Life Manh"

print("Hello, my name is {}".format(name))
print("Hello, my name is {:10}. Nice to meet you".format(name))

number = 3.14159
nomber = 1000

print("The number pi is {:.2f}".format(number))
print("The nomber is {:,}".format(nomber))
print("The nomber is {:b}".format(nomber))
print("The nomber is {:o}".format(nomber))

The cow jumped over the moon
The cow jumped over the moon
The moon jumped over the cow
The moon jumped over the moon
The cow jumped over the moon
The {} jumped over the {}
Hello, my name is Pajn Life Manh
Hello, my name is Pajn Life Manh. Nice to meet you
The number pi is 3.14
The nomber is 1,000
The nomber is 1111101000
The nomber is 1750

In [ ]:
#random module

import random

x = random.randint(1,6)
y = random.random()
print(y)

myList = ['rock','paper','scissors']
z = random.choice(myList)

print(z)

cards = [1,2,3,4,5,6,7,8,9,"J","Q","K","A"]
random.shuffle(cards)

print(cards)

0.14135648478707974
paper
[6, 'K', 7, 8, 'J', 1, 3, 5, 2, 'A', 9, 'Q', 4]

##TRY AND EXCEPTION

In [ ]:
#exception interrupts the flow of a program, CLAUSE

try:
  numerator = int(input("Enter a number to divide: "))
  denominator = int(input("Enter a number to divide by: "))
  result = numerator / denominator
except ZeroDivisionError as e:
  print("that's 0 dumbass")
  print(e)

#except Exceptionpe:
  #print("Something went wrong.")
except ValueError as e:
  print("Enter only numbers bitch")
  print(e)
else:
  print(result)
finally:
  print("This will always execute. paJn")

Enter a number to divide: 90
Enter a number to divide by: 80
1.125
This will always execute. paJn

In [ ]:
try:
  numerator = int(input("Enter a bloody no: "))
  denominator = int(input("Enter another bloody no: "))
  result = numerator / denominator
  print(result)
except ZeroDivisionError:
  print("Dumbass")

Enter a bloody no: 600
Enter another bloody no: 0
Dumbass

In [ ]:
try:
  numerator = int(input("Enter a bloody no: "))
  denominator = int(input("Enter another bloody no: "))
  result = numerator / denominator
  print(result)

except Exception:
  print("SOmething went wrong lol")

Enter a bloody no: 8
Enter another bloody no: 0
SOmething went wrong lol